$crFontBase: Arial, sans-serif;
$crFontModern: Helvetica, sans-serif;
$crFontOld: Georgia, serif;
$crFontSecret: "Courier New", monospace;
$crPadd: 8px;
$crPrColor: black;
$crBorColor: #87001b;
